body {
    text-align: center;
}

.cell {
    text-align: center;
    font-size: large;
    height: 60px;
    width: 60px;
    border: 1.5px solid grey;
    border-style: inset;
}
img{
    width: 40px;
    padding-top: 16px;
}

.blackcell {
    background-color: rgba(0, 0, 0, 0.317);
}

.whitecell {
    background-color: white;
}